/* Importing Box icons */
@import "~boxicons/css/boxicons.min.css";

* {
  margin: 0;
  padding: 0;
}



body {
  background: #e8e8e8 !important;
}


:root {
  --theme: rgb(6, 121, 0);
  --heading: "Lobster", sans-serif;
  --font: "Fira Sans", sans-serif;
}


input {
  border: 1px solid rgb(0, 0, 0) !important;
  box-shadow: none !important;
  border-radius: 0 !important;
}

/* ::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: green;
  border-radius: 7px;
}

::-webkit-scrollbar-track {
  background-color: rgb(229, 255, 229);
} */