.profile_logo {
    width: 120px;
    height: 120px;
    background-color: rgb(0, 169, 0);
    border-radius: 100px;
    outline: 6px solid #e2e0e0ba;
}


.profile_logo p {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    color: white;
}


.post_container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 35px;
    justify-content: center;
    min-height: 200px;
}


.post_container div {
    height: 90px;
    width: 90px;
    outline: 3px solid #e2e0e0ba;
    border-radius: 5px;
}



.post_container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 5px;
}

.post_container img:hover {
    opacity: 0.5;
}


.post_container p {
    font-size: 11px;
}


.links {
    text-align: center;
}


.links a {
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    transition: 0.2s;
}


.links a:active {
    transform: scale(0.90);
}


@media screen and (min-width : 769px) {

    .post_container {
        column-gap: 20px;
    }

    .links a {
        font-size: 16px;
    }

    .post_container div {
        height: 180px;
        width: 180px;
    }

    .post_container p {
        font-size: 15px;
    }

    .profile_logo {
        height: 200px;
        width: 200px;
    }

    .profile_logo p {
        font-size: 100px;
    }

}