.profile_logo {
    width: 130px;
    height: 130px;
    background-color: rgb(0, 169, 0);
    border-radius: 100px;
    border: 6px solid #dbdbdb;
}


.profile_logo p {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    color: white;
}


.post_container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 35px;
    justify-content: center;
}


.post_container div {
    height: 130px;
    width: 130px;
    outline: 3px solid #96969644;
    border-radius: 5px;

}

.post_container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 5px;
}

.post_container img:hover {
    opacity: 0.5;
}


.links{
    text-align: center;
}


.links a {
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    transition: 0.2s;
}


.links a:active{
  transform: scale(0.90);
}


@media screen and (min-width : 769px) {

    .post_container {
        column-gap: 20px;
    }

    .links a {
        font-size: 16px;
    }

    .post_container div {
        height: 210px;
        width: 210px;
    }

    .profile_logo {
        height: 200px;
        width: 200px;
    }

    .profile_logo p {
        font-size: 100px;
    }

}